<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="TallComponents.PDFControls.WinForms" version="3.0.41" targetFramework="net48" />
  <package id="TallComponents.PDFRasterizer" version="3.0.192" targetFramework="net48" />
</packages>